@{
    ViewBag.Title = "Home Page";
}

<style>
    body{
        overflow-x:hidden;
        color: #f4fff7;
        height: 100%;
    }
    .centro {
        margin: auto;
        position: center;
        width: 50%;
        max-width: 750px;
        /*padding-left: 60px;*/
    }
    .botaotine{
        background-color: #292f36;
        border: none;
        padding: 10px 15px 10px 15px;
        color: #eaeaea;
        transition: background-color 1s;
        text-decoration: none;
        text-align: center;
        display: inline-block;
    }
    .botaotine:hover{
        background-color: #001E35;
    }
    .divlazuli{
        background-color: #052F5F;
    }
    .textin{
        border: 1px solid #292f36;
        border-radius:0;
        background-color: #f7fff7;
        padding-left: 10px;
        height: 35px;
        width: 70%;
        color: #000000;
    }

    .txt-black{
        color:#000000;
    }
    /*.textin::-webkit-input-placeholder{
        color: #eaeaea;
    }
    .textin::-moz-placeholder{
        color: #eaeaea;
    }*/
    .imgfront {
        /*background-image: url('../../img/OW_Anniversary_023.jpg');*/
        width: 100%;
        min-height:500px;
        padding-top: 200px;
        background-repeat:no-repeat;
        position:center;
        height:auto;
        background-size: cover;
        display:block;
        margin:auto;
        border: none;
    }
</style>
<div class="imgfront">
    <div class="container-fluid">
        <div class="row">
            <div class="centro">
                <div class="form-inline form-group">
                    <div class="text-center">
                        <label for="gameTag"></label>
                        <input type="text" id="gameTag" name="gameTag" class="textin" placeholder="BattleTag" />
                        <input type="button" id="send" name="send" class="botaotine" value="Buscar" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="divlazuli">
    <div class="container-fluid">
        <div class="row">
            <div class="centro">
                <p id="dataRec" name="dataReq"></p>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="img-responsive"></div>
                            <h2 class="name-player"></h2>
                        </div>
                    </div>
                    <div class="row">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#quick" aria-controls="quick" role="tab" data-toggle="tab">Quickplay</a></li>
                            <li role="presentation"><a href="#comp" aria-controls="comp" role="tab" data-toggle="tab">Competitivo</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="quick" class="tab-pane active" role="tabpanel">
                                <h3>Status Gerais</h3>
                                <ul class="list-group">
                                    <li class="list-group-item"><span class="txt-black">Stats 1</span></li>
                                    <li class="list-group-item"><span class="txt-black">Stats 2</span></li>
                                </ul>
                                <div id="chart-time" class="hidden"></div>
                            </div>
                            <div id="comp" class="tab-pane" role="tabpanel">
                                <h3>Status Gerais</h3>
                                <ul class="list-group">
                                    <li class="list-group-item"><span class="txt-black">Stats 1</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function EnviarDados() {
        var gameTag = document.getElementById("gameTag");

        $("#dataRec").html("Carregando as Paradas... Isso pode demorar um pouquinho...");

        if (gameTag !== null && gameTag !== 'undefined' && gameTag !== undefined) {

            if (gameTag.value === "") {
                alert("digite seu battleTag");
                $("#dataRec").html("");
                return;
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("Teste", "Home")",
                data: JSON.stringify({ tag: gameTag.value }),
                contentType: "application/json;",
                dataType: "json",
                success: function (data) {
                    if (data !== null) {
                        var an = JSON.parse(data);
                        google.charts.load('current', { packages: ['corechart'] });
                        google.charts.setOnLoadCallback(function () { Graphs(); });
                    }

                    function Graphs() {
                        ConstructTheGraphs(an);
                    }
                },
                error: function () {
                    alert("Deu Ruim!");
                }
            });
        }
    }
    $(document).ready(function () {
        $("#send").click(EnviarDados);
    });
    function ConstructTheGraphs(d) {
        //copiei na cara dura msm, e vou adaptar
        // Create the data table.
       
        var dt = [['Heroes', 'Time']];
        var lin = d.us.heroes.playtime.quickplay;
        if (typeof lin !== 'undefined') {
            for (var i in lin) {
                if (lin.hasOwnProperty(i)) {
                    dt.push([i,lin[i]]);
                }
            }
        }
        var data = new google.visualization.arrayToDataTable(dt);

        // Set chart options
        var options = {
            'title': 'How Much Time Did I Waste?',
            'width': 500,
            'height': 500
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart-time'));
        chart.draw(data, options);

        $("#chart-time").removeClass("hidden");
    }
</script>