@{
    ViewBag.Title = "TaskUser";
}
<style>
    .list-main {

    } 
    .list-view li {
        border: 1px solid black;
        padding: 15px;
        text-decoration: none;
        list-style: none;
    }
    #panel-task{
        margin: 5px;
    }
    .box-task {
        border: 1px solid black;
        padding: 15px;
        margin-left: 35px;
    }
    .comp {
        color: #9fe700;
    }
</style>
<script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
<div class="container">
    <h2>Minhas Tarefas</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="list-main">
                <ul class="list-view sort-derp">
                    @if (ViewBag.Task != null)
                    {
                        foreach (var t in ViewBag.Task)
                        {
                            <li><i class="fa fa-2x fa-check"></i><e class="task-fixed"> @t.Nome</e></li>
                        }
                    }
                </ul>
                <input id="addTk" type="button"style="margin: 10px;" class="btn btn-default" value="Adicionar Tarefa" />
            </div>
        </div>
        <div id="panel-task" class="col-md-12 hide">
            <div class="box-task">
                <!-- Inserir Nome, desc, comentários, etc... -->
                <div>
                    <div class="col-md-8">
                        <i class="fa fa-2x fa-check stTask"> </i>
                    </div>
                    <div class="col-md-4 form-inline">
                        <label for="dataTask">Até:</label> <input type="text" id="dataTask" style="max-width: 250px;" class="form-control" />
                        <i class="fa fa-2x fa-trash" aria-hidden="true"></i>
                    </div>
                </div>
                <input type="text" id="nameTask" class="form-control" value="Nova Tarefa" />
                <br />
                <textarea class="form-control" id="descTask" placeholder="Descrição..."></textarea>
                <br />
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $(".sort-derp").sortable();

            $("#addTk").on("click", function () {
                $(".list-view").append("<li><i class='fa fa-2x fa-check'> </i><e class='task-fixed newLife'> Nova Tarefa<e/></li>");
                SaveData({ Order: $(".list-view").find("li").length - 1 }, RetNome());
                $(".task-fixed").click();
            });

            $("#dataTask").on("blur", function (event) {
                ObjMakerTask(document.getElementById("nameTask").value, $("stTask").hasClass("comp"), true, LoaderIndicator());
            });

            $("#nameTask").on("blur", function (event) {
                ObjMakerTask(document.getElementById("nameTask").value, $("stTask").hasClass("comp"), true, LoaderIndicator());
            });

            $("#descTask").on("blur", function (event) {
                ObjMakerTask(document.getElementById("nameTask").value, $("stTask").hasClass("comp"), true, LoaderIndicator());
            });

            $(".fa-check").on("click", function (event) {
                var e = event;
                if (!$(e.currentTarget).hasClass("comp"))
                    $(e.currentTarget).addClass("comp");
                else
                    $(e.currentTarget).removeClass("comp");
            });

            $(".fa-trash").on("click", function (event) {
                var e = event;
                if (document.getElementById("nameTask").value !== typeof "undefined")
                    SeekAndDestroy({"Nome":document.getElementById("nameTask").value});
            });

            $(".task-fixed").on("click", function (event) {
                var panelTask = $("#panel-task");
                var e = event;
                if (!panelTask.hasClass("hide"))
                    panelTask.addClass("hide");
                //exibir dados
                GetData(e.currentTarget.textContent.trim());
                panelTask.removeClass("hide");
            });
        });
                
        function LoaderIndicator() {
            return null;
        }

        function ObjMakerTask(nameTask, status, modAll, backtome) {
            var objftw = {
                "Nome": nameTask,
                "Complete": status,
                "Desc": modAll ? document.getElementById("descTask").innerText : null,
                "Data": modAll ? document.getElementById("dataTask").value : null
            };
            ChangeData(objftw, backtome);
        }

        function GetData(nameTask) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SearchTask", "TaskUser")",
                data: JSON.stringify({ nome: nameTask }),
                contentType: "application/json",
                success: function (data) { LoadTask(data) },
                error: LoadTask()
            });
        }

        function SeekAndDestroy(tasksUser) {

        }

        function LoadTask(data) {
            if (typeof data !== "undefined") {
                document.getElementById("nameTask").value = data.Nome;
                document.getElementById("descTask").value = data.Desc;
                document.getElementById("dataTask").value = data.Data;
                if (data.Complete)
                    $(".stTask").addClass("comp");
            }
        }

        function ChangeData(tasksUser, backtome) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ChangeTask", "TaskUser")",
                data: JSON.stringify(tasksUser),
                contentType: "application/json",
                dataType: "json",
                success: function (data) { /*backtome(data)*/ },
                error: null
            });
        }

        function SaveData(tasksUser, backtome) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("newTask", "TaskUser")",
                data: JSON.stringify(tasksUser),
                contentType: "application/json",
                dataType: "json",
                success: function (data) { /*backtome(data)*/ },
                error: null
            });
        }

        function RetNome(newnome) {
            if (typeof newnome !== "null" && typeof newnome !== "undefined") {
                $(".newLife").val(newnome);
                $(".newLife").removeClass(".newLife");
            }
        }
    </script>
</div>