
@{
    ViewBag.Title = "TaskUser";
}



<style>
    .list-main {

    } 
    .list-view li {
        border: 1px solid black;
        padding: 15px;
        text-decoration: none;
        list-style: none;
    }
    #panel-task{
        margin: 5px;
    }
    .box-task {
        border: 1px solid black;
        padding: 15px;
        margin-left: 35px;
    }
</style>
<script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".sort-derp").sortable();
        $("#addTk").on("click", function () {
            $(".list-view").append("<li class='task-fixed'><i class='comp'>Complete?</i> New Task</li>");
        });
        $(".task-fixed").on("click", function () {
            var panelTask = $("#panel-task");
            if (!panelTask.hasClass("hide"))
                panelTask.addClass("hide");
            //ativar o carregamento da tarefa
            panelTask.removeClass("hide");
        });
    });
</script>
<div class="container">
    <h2>Minhas Tarefas</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="list-main">
                <ul class="list-view sort-derp">
                    <li class="task-fixed"><i class="comp">Complete?</i> Potato</li>
                    <li class="task-fixed"><i class="comp">Complete?</i> Bread</li>
                </ul>
                <input id="addTk" type="button"style="margin: 10px;" class="btn btn-default" value="Adicionar Tarefa" />
            </div>
        </div>
        <div id="panel-task" class="col-md-12 hide">
            <div class="box-task">
                <!-- Inserir Nome, desc, comentários, etc... -->
                <i class="comp">Complete? </i>
                <input type="text" id="nameTask" class="form-control" value="Nova Tarefa" />
                <br />
                <textarea class="form-control" id="descTask" placeholder="Descrição..."></textarea>
                <br />
            </div>
        </div>
    </div>
</div>