@{
    ViewBag.Title = "TaskUser";
}
<style>
    .list-main {

    } 
    .list-view li {
        border: 1px solid black;
        padding: 15px;
        text-decoration: none;
        list-style: none;
    }
    #panel-task{
        margin: 5px;
    }
    .box-task {
        border: 1px solid black;
        padding: 15px;
        margin-left: 35px;
    }
    .comp {
        color: #9fe700;
    }
</style>
<script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
<div class="container">
    <h2>Minhas Tarefas</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="list-main">
                <ul class="list-view sort-derp">
                    <li class="task-fixed"><i class="fa fa-2x fa-check comp"></i> Potato</li>
                    <li class="task-fixed"><i class="fa fa-2x fa-check comp"></i> Bread</li>
                </ul>
                <input id="addTk" type="button"style="margin: 10px;" class="btn btn-default" value="Adicionar Tarefa" />
            </div>
        </div>
        <div id="panel-task" class="col-md-12 hide">
            <div class="box-task">
                <!-- Inserir Nome, desc, comentários, etc... -->
                <i class="fa fa-2x fa-check comp"> </i>
                <input type="text" id="nameTask" class="form-control" value="Nova Tarefa" />
                <br />
                <textarea class="form-control" id="descTask" placeholder="Descrição..."></textarea>
                <br />
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $(".sort-derp").sortable();

            $("#addTk").on("click", function () {
                $(".list-view").append("<li class='task-fixed'><i class='fa fa-2x fa-check'> </i> New Task</li>");
                $(".task-fixed").click();
            });

            $(".task-fixed").on("click", function (event) {
                var panelTask = $("#panel-task");
                var e = event;
                if (!panelTask.hasClass("hide"))
                    panelTask.addClass("hide");
                                
                panelTask.removeClass("hide");
            });
        });
    </script>
</div>