@model notelohell.Models.UsersModel
@{
    ViewBag.Title = "BeholderUser";
}

<h2>Seus Dados</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="" />
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="form-horizontal">
                <label for="nome_Behold">Nome:</label><input type="text" class="form-control" id="nome_Behold" value="@Model.Nome" readonly /><br />
                <label for="tag_Behold">Tag:</label><input type="text" class="form-control" id="tag_Behold" value="@Model.GameTag" readonly /><br />
            </div>
        </div>
    </div>

</div>

