@model notelohell.Models.UsersModel
@{
    ViewBag.Title = "BeholderUser";
}

<h2>Seus Dados</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="" />
        </div>
        <div class="col-xs-12 col-md-6">
            <label for="nome_Behold">Nome:</label><input type="text" id="nome_Behold" name="us.Nome" readonly />
            <label for="tag_Behold">Tag:</label><input type="text" id="tag_Behold" name="us.GameTag" readonly />
        </div>
    </div>

</div>

