@model notelohell.Models.UsersModel
@{
    ViewBag.Title = "Registro";
}

<h2>Registro</h2>
<div class="form-group">
    <div class="form-horizontal">
        <form action="/Auth/RegistrarUsuario/" method="POST">
            @Html.AntiForgeryToken()
            <label for="nome_reg">Nome:</label>
            <input type="text" id="nome_reg" name="Nome" class="form-control" />
            <br />
            <label for="email_reg">E-mail:</label>
            <input type="email" id="email_reg" name="Email" class="form-control" />
            <br />
            <label for="gametag_reg">Gametag:</label>
            <input type="text" id="gametag_reg" name="gameTag" class="form-control" />
            <br />
            <label for="pass_reg">Senha:</label>
            <input type="password" id="pass_reg" class="form-control" />
            <br />
            <label for="passConf_reg">Confirme a senha:</label>
            <input type="password" id="passConf_reg" name="pwHash" class="form-control" />
            <br />
            <input type="submit" class="btn btn-default" id="btn_registrar" value="Registrar" />
        </form>
    </div>
</div>
