
@{
    ViewBag.Title = "Registro";
}

<h2>Registro</h2>
<div class="form-group">
    <div class="form-horizontal">
        <label for="nome_reg">Nome:</label>
        <input type="text" id="nome_reg" class="form-control" />
        <br />
        <label for="email_reg">E-mail:</label>
        <input type="email" id="email_reg" class="form-control" />
        <br />
        <label for="gametag_reg">Gametag:</label>
        <input type="text" id="gametag_reg" class="form-control" />
        <br />
        <label for="pass_reg">Senha:</label>
        <input type="password" id="pass_reg" class="form-control" />
        <br />
        <label for="passConf_reg">Confirme a senha:</label>
        <input type="password" id="passConf_reg" class="form-control" />
        <br />
        <button class="btn btn-default" id="btn_registrar">Registrar</button>
    </div>
</div>
